In [ ]:
print ("hello world")

:

In [ ]:
print ("hello world")

:

In [ ]:
print ("hello world")

:

In [ ]:
print ("hello world")

:

In [ ]:
print("hello world")

:

In [ ]:
print('hello world')

:

In [1]:
print ("hello world")

hello world

In [2]:
print ("hello world")

hello world

In [3]:
print ('hello')

hello

In [1]:
print ("this print statement was created in Python")

this print statement was created in Python

In [2]:
print ("age, 23")

age, 23

In [3]:
x = 3 + 4 
print (x)

7

In [4]:
x = 4 * 2
y = 15 / 5
print (x)
print (y)

8
3.0

In [5]:
word = manisha 
word [1:5]

NameError: name 'manisha' is not defined

In [6]:
word = 'manisha'

In [7]:
word[0]

'm'

In [8]:
word[1:5]

'anis'

In [9]:
word[4:7]

'sha'

In [10]:
word[-1:0]

''

In [11]:
word[-1]

'a'

In [12]:
word[:4]

'mani'

In [13]:
word[4:]

'sha'

In [14]:
print ('that\'s it')

that's it

In [15]:
print ("that's it")

that's it

In [16]:
greeting = 'hi'

In [17]:
print (greeting.capitalise)

AttributeError: 'str' object has no attribute 'capitalise'

In [22]:
greeting = 'hi'

print (greeting.capitalize)

print (greeting.capitalize())

print (greeting.lower())

<built-in method capitalize of str object at 0x100fb27f0>
Hi
hi

In [28]:
a = 4.2
b = 25

print (a + b)
print (a - b)
print (a * b)
print (a / b)
print (a + b)

29.2
-20.8
105.0
0.168
29.2

In [29]:
type (3.4)

float

In [30]:
type (5)

int

In [31]:
print ((((100 + 44) - 75) * 10) + 0.75)

690.75

In [34]:
print (1 + 2 * 3 - 4 / 6 (6 + 7) * 8 ** 9)

(1 + 2 * 3 - 4 / 6 (6 + 7) * 8 ** 9)

sum ((1 + 2 * 3 - 4 / 6 (6 + 7) * 8 ** 9))

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:5: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:5: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/var/folders/sw/txvbwt_s647d9p5g7rzlwycr0000gn/T/ipykernel_91171/63636510.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  print (1 + 2 * 3 - 4 / 6 (6 + 7) * 8 ** 9)

TypeError: 'int' object is not callable

In [35]:
sum ((1 + 2 * 3 - 4 / 6 (6 + 7) * 8 ** 9))

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/var/folders/sw/txvbwt_s647d9p5g7rzlwycr0000gn/T/ipykernel_91171/825525942.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  sum ((1 + 2 * 3 - 4 / 6 (6 + 7) * 8 ** 9))

TypeError: 'int' object is not callable

In [107]:

print(1 + 2 * 3 - 4 / 6 * (6 + 7) * 8 ** 9)

-1163220302.3333333

In [38]:
num1 = 8
num2 = 3

print (num1 + num2)

print (num1 * num2)

11
24

In [45]:
num = 23
text_num = "57"
decimal_num = 98.3

print (num, text_num, decimal_num)

23 57 98.3

In [46]:
num1 = 2
num2 = 12
num3 = 25
num4 = 67
num5 = 33
num6 = 32
num7 = 90
num8 = 45
num9 = 100
num10 = 4

print ("these are even numbers", num1, num2, num6, num7, num9, num10)

these are even numbers 2 12 32 90 100 4

In [50]:
#string example 

long_word = "Pneumonoultramicroscopicsilicovolcanoconiosis"
print (long_word)

long_word[0]

first_c = 'P'

long_word[-1]

last_c = 's'

Pneumonoultramicroscopicsilicovolcanoconiosis

In [105]:

h = 3.57
w = 12.5
l = 35

lw = l * w
lh = l * h
hw = h * w

print ("cuboid volume", h * w * l)

print ("cuboid surface area", 2 * (lw + lh + hw))

cuboid volume 1561.875
cuboid surface area 1214.15

In [104]:
import math

h = 10 
r = 3 
pi = 3.14

print("cone volume", pi * r ** 2 * h / 3 )

print("cone surface_area", pi * r * (r + math.sqrt(h ** 2 + r ** 2)))


# x is cubiod vol, y is cube vol. 
x = 1561.875
y = 94.2

print("the volume of cubiod is", x)
print("the volume of cubiod is", y)

cone volume 94.2
cone surface_area 126.60768731393739
the volume of cubiod is 1561.875
the volume of cubiod is 94.2

In [100]:
#shopping list task

tom = 0.87 #pack of 6 
sug = 1.09 #500g 
ws = 0.29 #pack of 10
j = 1.89 #1.5l bottle
f = 1.29 #30m of roll

print ("1kg of sugar", sug * 2)

print ("20 washing sponges", ws * 2, "3L of juice", j * 1.89, "2 packs of tomatoes", tom * 2)

#group shopping task
print ("shopping list for 5 people", "tomatoes", tom * 5, "washing sponge", ws * 2, "juice", j * 4, "foil", f * 4, "sugar", sug * 2)

print ('total for 5 people', 4.35 + 0.58 + 7.56 + 5.16 + 2.18)

print ('total inc VAT', 19.83 * 1.2)

num = 23.795999999999996

print ('total inc VAT rounded', round(num))

1kg of sugar 2.18
20 washing sponges 0.58 3L of juice 3.5721 2 packs of tomatoes 1.74
shopping list for 5 people tomatoes 4.35 washing sponge 0.58 juice 7.56 foil 5.16 sugar 2.18
total for 5 people 19.83
total inc VAT 23.795999999999996
total inc VAT rounded 24