In [ ]:
print ("hello world")

:

In [ ]:
print ("hello world")

:

In [ ]:
print ("hello world")

:

In [ ]:
print ("hello world")

:

In [ ]:
print("hello world")

:

In [ ]:
print('hello world')

:

In [1]:
print ("hello world")

hello world

In [2]:
print ("hello world")

hello world

In [3]:
print ('hello')

hello

In [1]:
print ("this print statement was created in Python")

this print statement was created in Python

In [2]:
print ("age, 23")

age, 23

In [3]:
x = 3 + 4 
print (x)

7

In [4]:
x = 4 * 2
y = 15 / 5
print (x)
print (y)

8
3.0

In [110]:
word = "manisha" 
word [1:5]

'anis'

In [7]:
word[0]

'm'

In [8]:
word[1:5]

'anis'

In [9]:
word[4:7]

'sha'

In [10]:
word[-1:0]

''

In [11]:
word[-1]

'a'

In [12]:
word[:4]

'mani'

In [13]:
word[4:]

'sha'

In [14]:
print ('that\'s it')

that's it

In [15]:
print ("that's it")

that's it

In [16]:
greeting = 'hi'

In [109]:
greeting = 'hi'

print (greeting.upper())

print (greeting.capitalize())

print (greeting.lower())

HI
Hi
hi

In [28]:
a = 4.2
b = 25

print (a + b)
print (a - b)
print (a * b)
print (a / b)
print (a + b)

29.2
-20.8
105.0
0.168
29.2

In [29]:
type (3.4)

float

In [30]:
type (5)

int

In [31]:
print ((((100 + 44) - 75) * 10) + 0.75)

690.75

In [107]:

print(1 + 2 * 3 - 4 / 6 * (6 + 7) * 8 ** 9)

-1163220302.3333333

In [38]:
num1 = 8
num2 = 3

print (num1 + num2)

print (num1 * num2)

11
24

In [45]:
num = 23
text_num = "57"
decimal_num = 98.3

print (num, text_num, decimal_num)

23 57 98.3

In [46]:
num1 = 2
num2 = 12
num3 = 25
num4 = 67
num5 = 33
num6 = 32
num7 = 90
num8 = 45
num9 = 100
num10 = 4

print ("these are even numbers", num1, num2, num6, num7, num9, num10)

these are even numbers 2 12 32 90 100 4

In [3]:
#string example 

long_word = "Pneumonoultramicroscopicsilicovolcanoconiosis"
print (long_word)

first_c = long_word[0]

last_c = long_word[-1]

print(last_c + first_c)

Pneumonoultramicroscopicsilicovolcanoconiosis
sP

In [105]:

h = 3.57
w = 12.5
l = 35

lw = l * w
lh = l * h
hw = h * w

print ("cuboid volume", h * w * l)

print ("cuboid surface area", 2 * (lw + lh + hw))

cuboid volume 1561.875
cuboid surface area 1214.15

In [104]:
import math

h = 10 
r = 3 
pi = 3.14

print("cone volume", pi * r ** 2 * h / 3 )

print("cone surface_area", pi * r * (r + math.sqrt(h ** 2 + r ** 2)))


# x is cubiod vol, y is cube vol. 
x = 1561.875
y = 94.2

print("the volume of cubiod is", x)
print("the volume of cubiod is", y)

cone volume 94.2
cone surface_area 126.60768731393739
the volume of cubiod is 1561.875
the volume of cubiod is 94.2

In [11]:
#shopping list task

tom = 0.87 #pack of 6 
sug = 1.09 #500g 
ws = 0.29 #pack of 10
j = 1.89 #1.5l bottle
f = 1.29 #30m of roll

print ("1kg of sugar £", sug * 2)

print ("20 washing sponges £", ws * 2, "3L of juice £", j * 1.89, "2 packs of tomatoes £", tom * 2)

#group shopping task
print ("shopping list for 5 people", "tomatoes £", tom * 5, "washing sponge £", ws * 2, "juice £", j * 4, "foil £", f * 4, "sugar £", sug * 2)

print ('total for 5 peopl £', 4.35 + 0.58 + 7.56 + 5.16 + 2.18)

print ('total inc VAT £', 19.83 * 1.2)

num = 23.795999999999996

print ('total inc VAT £', round(num))

1kg of sugar £ 2.18
20 washing sponges £ 0.58 3L of juice £ 3.5721 2 packs of tomatoes £ 1.74
shopping list for 5 people tomatoes £ 4.35 washing sponge £ 0.58 juice £ 7.56 foil £ 5.16 sugar £ 2.18
total for 5 peopl £ 19.83
total inc VAT £ 23.795999999999996
total inc VAT £ 24

In [69]:
#Lists Practical:
#1.1 Usernames
my_list_usernames = ['mn50', 'j33', 'taylor4', 'harry2']

print(my_list_usernames)

print(type(my_list_usernames))

print(len(my_list_usernames))

print(type(my_list_usernames[0]))

print(len(my_list_usernames[-1]))

['mn50', 'j33', 'taylor4', 'harry2']
<class 'list'>
4
<class 'str'>
6

In [7]:
#2.1 Letter Checker

phrase1 = 'Clean Couch'
phrase2 = 'Giant Table'

#spliting the words into two lists
words1 = phrase1.split()
words2 = phrase2.split()

#slicing to get to first letter from each word
word1 = words1[0][0]
word2 = words2[0][0]

#code to check if they are the same
if word1[0][0] == word2[0][0]: 
    print("This word starts with the same letter")
else:
    print("This word does not start with the same letter")

This word does not start with the same letter

In [22]:
#2.2 String Reverse 

my_string1 = "This is a short phrase"
my_string2 = "This is actually a significatly longer phrase than the previous one"

#split the strings into lists
words1 = my_string1.split()
words2 = my_string2.split()

#reverse the order of words in split
words1_reversed = reversed(my_string1.split())
words2_reversed = reversed(my_string2.split())

#join the words back to strings
reversed_string1 = ''.join(words1_reversed)
reversed_string2 = ''.join(words2_reversed)

print(reversed_string1)
print(reversed_string2)

phraseshortaisThis
onepreviousthethanphraselongersignificatlyaactuallyisThis

In [30]:
#2.3 List Elements

list_1 = [2, 'hello', 3.14, False, [1, 2, 3]]
list_2 = [0] * 10
 
print(list_1)
print(list_2)

#nesting to create list_3
list_3 = [list_1, list_2]

print(list_3)

#4th element of each list
list_4 = [list_1[3], list_2[3]]

print(list_4)

[2, 'hello', 3.14, False, [1, 2, 3]]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[2, 'hello', 3.14, False, [1, 2, 3]], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]
[False, 0]

In [47]:
#2.4 Car Number Plate Year

plates = ["G06 WTR", "WL11 WFL", "QW68 PQR"]

#years of the car

years = [plate[1:3] for plate in plates]

print(years)

#type for 'years'
print(type(years))

#convert into int

['06', 'L1', 'W6']
<class 'list'>

In [48]:
#2.5 Name intersection

name_1 = 'manisha'
name_2 = 'harvey'

#convert to sets
set_1 = set(name_1)
set_2 = set(name_2)

#common characters
common_chars = set_1 & set_2

print(common_chars)

{'a', 'h'}

In [52]:
#2.6 Multiplying list elements

list_1 = [0] * 10

set_1 = set(list_1)

print(len(set_1))

1

In [63]:
#2.7Comprehensions

words = ['Hello', 'world']
capitalized_words = [word.capitalize() for word in words]

print(capitalized_words)

#ranges
number = range(100)

range_numbers = [number % 5 == 0]

print(range_numbers)

['Hello', 'World']

TypeError: unsupported operand type(s) for %: 'range' and 'int'

In [65]:
#2.8 Simple typed function

NameError: name 'movies' is not defined